<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Translate it</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill|Lato:300i,400" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/main.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='styles/img/favicon.ico') }}">
              
    </head>

    <body>
        <div class="wrapper">
            <header>
                
            </header>
            <main>
                
                <div class="fields">
                    <div class="finput">
                        <form id="translate-form" action="/form" method="POST" role="form">
                            
                            <label class="form-label">Enter text in English</label>
                            <input class="form-field" id="inputlang" name="input-text" value='{{lang.english.input}}' placeholder="Enter text">
                            
                        </form>
                    </div>
                    <div class="fbutton">
                        
                        <button id="submitForm" type="button" class="baton">{{lang.english.button}}</button>
                    </div>
                    <div class="foutput">   
                        
                        <label class="form-label">Translation</label>
                        <input class="form-field" id="outputlang" value='{{lang.english.output}}'>
                        
                    </div>
                    <div id="graph">
                        
                    </div>
                </div>
            </main>
            <footer>
                <div class="foot">
                    &copy; The Best Team
                </div>
            </footer>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    </body>
</html>