absl-py==0.3.0
astor==0.7.1
boto3==1.7.73
botocore==1.10.73
certifi==2018.4.16
click==6.7
docutils==0.14
Flask==1.0.2
gast==0.2.0
grpcio==1.14.0
gunicorn==19.9.0
h5py==2.8.0
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.15.0
protobuf==3.6.0
python-dateutil==2.7.3
PyYAML==3.13
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
Werkzeug==0.15.3
