<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Translate it</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill|Lato:300i,400" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/main.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='styles/img/favicon.ico') }}">
              
    </head>

    <body>
        <div class="wrapper">
            <header>
                <div class="haiku-cont">
                    <div class='gen-top'>
                        <div id="submitGen" class="generate" type='button'>GENERATE</div>
                        <div class="br">b</div>
                        <div class="haiku">a haiku</div>
                    </div>
                    <form id="generate-form" class="gn" action="/haiku" method="POST">
                        <!-- <input class="gen-text" name='gen-haik-text' value='{{text}}'> -->
                        <label id="label" class="gen-text">
                            {% for line in text.splitlines() %}
                                {% if (loop.index < 4) %}
                                    {{line}}<br>
                                {% endif %}
                            {% endfor %}
                        </label>
                        <!-- <input class="invis" name='gen-haik-text' value=""> -->
                        <input id="invizeng" class="invis" name="eng" value="">
                        <input id="invizother" class="invis" name="other" value="">
                        <input id="invizlanng" class="invis" name="langg" value="">
                    </form>   
                </div>
                <div class="change">
                    <span class="tr spa">Spanish</span>
                    <span class="tr fra">French</span>
                </div>
                
            </header>
                
            <div class="fields">
                <div class="finput">
                    <form id="translate-form" action="/form" method="POST" role="form">
                        
                        <label class="form-label">Enter text in English</label>
                        <input class="form-field" id="inputlang" name="input-text" value='{{lang.input}}' placeholder="Enter text">
                        <input id="invizlang" class="invis" name="lang" value="">
                        <input id="invizhaik" class="invis" name="haik-text" value="">

                    </form>
                </div>
                <div class="fbutton">
                    
                    <button id="submitForm" type="button" class="baton"></button>
                </div>
                <div class="foutput">   
                    
                    <label class="form-label">Translation {{lang.trans}}</label>
                    <input class="form-field" id="outputlang" value='{{lang.output}}'>
                    
                </div>
                <div id="graph">    
                </div>
                <div id="arrow">
                </div>
            </div>
            <footer>
                <div class="foot">
                    &copy; The Best Team
                </div>
            </footer>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.js"></script>
        <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    </body>
</html>