*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Hanalei Fill', cursive;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    color: rgb(27, 50, 54);
    background-color: rgb(216, 250, 250);
}

header {
    grid-area: header;
    background: url('../styles/img/thank.jpg') center no-repeat;
    background-size: cover;
}

.fields {
    grid-area: main;
    padding: 20px;
    
}

footer {
    grid-area: footer;
    
}

.foot {
    display: flex;
    justify-content: center;
    background-color: rgb(54, 109, 110);
    color: aliceblue;
    font-family: 'Hanalei Fill';
}

.wrapper {
    display: grid;
    grid-template-rows: 150px calc(100vh - 170px - 6px) 20px;
    height: calc(100vh - 6px);
    grid-template-areas: 
        "header"
        "main"
        'footer';
}

.finput {
    grid-area: finput;
    align-self: start;
}

.fbutton {
    grid-area: fbutton;
    align-self: start;
}

.foutput {
    grid-area: foutput;
    align-self: start;
}

#graph {
    grid-area: graph;
    align-self: end;
}

#arrow {
    grid-area: arrow;
    align-self: end;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    padding: 2px;
    background: none repeat scroll 0 0 white;
    border-radius: 3px;
    font-size: 15px;
    color: black;
    text-align: center;
}

.fields {
    display: grid;
    grid-template-columns: 2fr 0.7fr 2fr;
    align-items: stretch;
    grid-template-areas:
        'finput fbutton foutput'
        'graph graph graph'
        '. arrow .';
}

.fbutton, .foutput, #translate-form, #graph, #arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baton {
    height: 110px;
    width: 110px;
    padding: 5px;
    border-radius: 100%;
    border: solid 5px #FFFFFF;
    box-shadow: 0px 0px 3px rgb(92, 105, 112);
    font-family: 'Hanalei Fill', sans-serif;
    color:#FFFFFF;
    background-color:#27cc50;
    text-align:center;
}

.baton:hover{
    background-color:#1279b4;
    border: solid 5px rgb(86, 250, 94);
    cursor: pointer;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 3px rgb(146, 160, 167);
}

.form-field {
    width: 95%;
    height: 65px;
    background-color: #FFFFFF;
    border: solid 1px #a2b4b4;
    border-radius: 5px;
    text-align: center;
    font-size: 45px;
    box-shadow: 1px;
}

.form-label {
    margin-bottom: 30px;
}

@media all and (max-width: 880px) {

    .wrapper {
        grid-template-rows: 130px calc(100vh - 150px - 6px) 20px;
        height: calc(100vh - 6px); 
    }

    .fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "finput"
            "fbutton"
            'foutput';
    }

    #graph, #arrow {
        display: none;
    }

    .fbutton, .foutput, .finput {
        padding-bottom: 15px;
    }

    .baton {
        height: 65px;
        width: 130px;
        border-radius: 45%;
    }

    .form-field {
        height: 60px;
        font-size: 40px;
    }
}

#plot-select {
    outline: none;
}

#plot-select {
    background-color: #FFFFFF;
    border: solid 1px #a2b4b4;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    box-shadow: 1px;
}
